<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259342063357-nlp97sd5aqajlr13se8jun2i2sns9v2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259342063357-nlp97sd5aqajlr13se8jun2i2sns9v2b</string>
	<key>API_KEY</key>
	<string>AIzaSyBB-6W0rTJM5Tz6wAgbM8STJcTiv3SBXx8</string>
	<key>GCM_SENDER_ID</key>
	<string>259342063357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wisyChallenge</string>
	<key>PROJECT_ID</key>
	<string>wisy-challenge-5881d</string>
	<key>STORAGE_BUCKET</key>
	<string>wisy-challenge-5881d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259342063357:ios:89bd45610b72c3eb141094</string>
</dict>
</plist>